body {
    background-color: #111;
    margin: 0;
    padding: 0;
  }
  
canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

#my-gui-container{
  position: absolute; 
  top: 0; 
  right: 0;
  z-index: 100;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Verdana";
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px #000000;
}

#description {
  position: absolute;
  top: 40px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
    font-family: "Verdana";
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px #000000;
  font-style: italic;
}